<?xml version="1.0" encoding="UTF-8"?>
<!--id: 插件的标识，即发布到 plugins.cordova.io 的 ID,生成的插件文件夹名也与此相同-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-sharesdk" version="0.0.1">
    <name>ShareSDK</name>
    <description>Cordova ShareSDK Plugin</description>
    <license>MIT</license>
    <keywords>cordova,sharesdk,share,ionic</keywords>
    <!--声明需要传入的平台信息-->
    <preference name="SHARESDK_IOS_APP_KEY" />
    <preference name="WECHAT_APP_ID" />
    <preference name="WECHAT_APP_SECRET" />
    <engines>
        <!--android4.0或更高版本 mininumSdkTarget to 14-->
        <engine name="cordova-android" version=">=4.1.0" />
        <!--ios8或更高版本-->
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>
    <js-module src="www/sharesdk.js" name="ShareSDK">
        <clobbers target="sharesdk.share" />
    </js-module>
    <!--reference url http://wiki.mob.com/ios%E7%AE%80%E6%B4%81%E7%89%88%E5%BF%AB%E9%80%9F%E9%9B%86%E6%88%90/-->
    <platform name="ios">
        <!--添加Scheme白名单 reference url http://wiki.mob.com/ios9-%E5%AF%B9sharesdk%E7%9A%84%E5%BD%B1%E5%93%8D%EF%BC%88%E9%80%82%E9%85%8Dios-9%E5%BF%85%E8%AF%BB%EF%BC%89/-->
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>weixin</string>
                <string>wechat</string>
            </array>
        </config-file>
        <!--配置URL Scheme reference：http://bbs.mob.com/thread-567-1-1.html-->
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string></string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$WECHAT_APP_ID</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <!-- ShareSDK -->
        <framework src="src/ios/ShareSDK/ShareSDK.framework" custom="true" />
        <framework src="src/ios/ShareSDK/Support/Required/MOBFoundation.framework" custom="true" />
        <framework src="src/ios/ShareSDK/Support/Required/ShareSDKConnector.framework" custom="true" />
        <resource-file src="src/ios/ShareSDK/Support/Required/ShareSDK.bundle" />
        <!-- Other required frameworks -->
        <framework src="libicucore.tbd" />
        <framework src="libz.tbd" />
        <framework src="libstdc++.tbd" />
        <framework src="JavaScriptCore.framework" />
        <!-- Wechat and QQ friend Zone and sina required frameworks -->
        <framework src="libsqlite3.tbd" />
        <!-- sina required frameworks -->
        <framework src="ImageIO.framework" />
        <!-- Wechat Official -->
        <framework src="src/ios/ShareSDK/Support/PlatformConnector/WechatConnector.framework" custom="true" />
        <source-file src="src/ios/ShareSDK/Support/PlatformSDK/WeChatSDK/libWeChatSDK.a" framework="true" />
        <header-file src="src/ios/ShareSDK/Support/PlatformSDK/WeChatSDK/WXApi.h" />
        <header-file src="src/ios/ShareSDK/Support/PlatformSDK/WeChatSDK/WXApiObject.h" />
        <header-file src="src/ios/ShareSDK/Support/PlatformSDK/WeChatSDK/WechatAuthSDK.h" />
        <config-file target="config.xml" parent="/*">
            <feature name="ShareSDK">
                <param name="ios-package" value="BZShareSDK" />
                <param name="onload" value="true" />
            </feature>
            <preference name="ShareSDKiOSAppKey" value="$SHARESDK_IOS_APP_KEY" />
            <preference name="WechatAppId" value="$WECHAT_APP_ID" />
            <preference name="WechatAppSecret" value="$WECHAT_APP_SECRET" />
        </config-file>
        <header-file src="src/ios/BZShareSDK.h" />
        <source-file src="src/ios/BZShareSDK.m" />
    </platform>
</plugin>